/*override bootstrap's width for description list titles...*/
.dl-horizontal dt {
    width: 460px;
    padding: 4px;

}
.dl-horizontal dd {
    padding: 4px;

}


body {
    padding-top: 40px;
}
.starter-template {
    padding: 20px 5px;
    text-align: center;
}

.section{
    padding: 10px 0px;
}
.subsection{
    border: steelblue thick solid; padding: 5px;
    border-radius: 7px;
    padding: 15px 5px;
}